{% if attribute(entity, field) %}
    <a class="badge badge-info" href="{{ path('app_location_show', {id: attribute(entity, field).id}) }}">
        <i class="fas fa-book"></i>
        {{ attribute(entity, field).name }}
    </a>
{% endif %}
