{% if attribute(document, field) %}
    <a class="badge badge-info" href="{{ path('app_location_show', {id: attribute(document, field).id}) }}">
        <i class="fas fa-map-marked-alt"></i>
        {{ attribute(document, field).name }}
    </a>
{% endif %}
