{%  extends 'content.html.twig' %}


{% block content %}
    {% if ingredient.id %}
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Actions">
                <a href="{{ path('app_ingredient_show', {id: ingredient.id}) }}"
                   class="btn action btn-secondary btn-show"><span>{% trans %} View {% endtrans %}</span></a>
                <a href="{{ path('app_ingredient_delete', {id: ingredient.id}) }}"
                   class="btn action btn-danger btn-delete"><span>{% trans %} Delete {% endtrans %}</span></a>
            </div>
        </div>
        <h1><i class="fas fa-edit"></i>&nbsp;{{ ingredient.name }}</h1>
    {% else %}
        <h1><i class="fas fa-plus-circle"></i>&nbsp;{% trans %} New ingredient {% endtrans %}</h1>
    {% endif %}

    {{ form(form) }}
{%  endblock %}
