{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} - {% trans %} Locations {% endtrans %}{% endblock %}

{% block content %}
    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Actions">
            <a href="{{ path('app_location_new') }}" class="btn action btn-secondary">
                <i class="fas fa-plus-circle"></i>&nbsp;<span>{% trans %} New {% endtrans %}</span>
            </a>
        </div>
    </div>
    <h1><i class="fas fa-book"></i>&nbsp;{% trans %} Locations {% endtrans %}</h1>

    <div class="datatables-container" data-datatables-settings="{{ datatable_settings(datatable) | e('html_attr') }}">
        {% trans %} Loading... {% endtrans %}
    </div>

{% endblock %}
