$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs4";
@import "~@fortawesome/fontawesome-free";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@yaireo/tagify/src/tagify.scss";
@import "~simplemde/dist/simplemde.min.css";
@import "~jquery-ui/themes/base/all.css";

body {
    background-color: lightgray;
}

#navbar-logo {
    width: 1.5em;
    height: 1.5em;
    margin-right: .5em;
}

#home-logo {
    width: 5em;
    height: 5em;
    margin-right: 2em;
}

nav i.fas {
    margin-right: 1rem;
}

#content-wrapper {
    padding: 2em;
}

table {
    background-color: #fff;
}

/* Fix incompatibility between DTC Grid and FA5 */
i.fa-circle-o-notch {
    display: none;
}

#recipe_instructions {
    height: 10em;
}

.ingredient-note {
    @extend .text-muted;
}

//.btn.show:before {
//    @extend .fas;
//    @extend .fa-eye;
//    display: inline-block;
//    padding-right: 5px;
//    vertical-align: middle;
//}
//.btn.show > i {
//    @extend %fa-icon;
//    @extend .far;
//    &:before {
//        content: fa-content($fa-var-eye);
//    }
//}
//.btn.edit > i {
//    @extend %fa-icon;
//    @extend .far;
//    &:before {
//        content: fa-content($fa-var-edit);
//    }
//}
//.btn.delete > i {
//    @extend %fa-icon;
//    @extend .fas;
//    &:before {
//        content: fa-content($fa-var-trash);
//    }
//}

textarea.markdown ~ div {
    background-color: white;
}

.CodeMirror-cursor {
    border-color: black;
}

.save-btn:before {
    @extend .fas;
    @extend .fa-save;
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
}
