$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs4";
@import "~@fortawesome/fontawesome-free";

body {
    background-color: lightgray;
}

nav i.fas {
    margin-right: 1rem;
}

#content-wrapper {
    padding: 2em;
}

table {
    background-color: #fff;
}

/* Fix incompatibility between DTC Grid and FA5 */
i.fa-circle-o-notch {
    display: none;
}
