{%  extends 'content.html.twig' %}


{% block content %}
    {% if recipe.id %}
        <h1>{{ recipe.name }}</h1>
    {% else %}
        <h1>Nouvelle recette</h1>
    {%  endif %}

    {{ form(form) }}
{%  endblock %}
