{%  extends 'content.html.twig' %}


{% block content %}
    {% if recipe.id %}
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar">
            <div class="btn-group mr-2" role="group" aria-label="Actions">
                <a href="{{ path('app_recipe_show', {id: recipe.id}) }}" class="btn action edit btn-secondary"><span>Voir</span></a>
                <a href="{{ path('app_recipe_delete', {id: recipe.id}) }}" class="btn action delete btn-danger"><span>Supprimer</span></a>
            </div>
        </div>
        <h1>{{ recipe.name }}</h1>
    {% else %}
        <h1>Nouvelle recette</h1>
    {%  endif %}

    {{ form(form) }}
{%  endblock %}
