<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <small><a href="https://fr.freepik.com/photos-vecteurs-libre/cuisine">Logo créé par freepik -
                    fr.freepik.com</a></small>
        </p>
    </div>
</footer>
