<footer class="text-muted mt-5">
    <div class="clearfix"></div>
    <div class="container">
        <p class="float-left">
            <small>&copy; 2020 Anaël Ollier - <a href="https://github.com/nanawel/reciphpes" target="_blank"><i
                            class="fab fa-github"></i>&nbsp;Fork me on Github</a></small>
        </p>
        <p class="float-right text-right">
            <small>
                <a href="https://fr.freepik.com/photos-vecteurs-libre/cuisine">
                    Logo créé par freepik - fr.freepik.com
                </a>
            </small>
        </p>
    </div>
</footer>
