{% extends 'content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Reciphpes!</h1>
        <p class="lead">There should be some welcome message soon here.</p>
        <hr class="my-4">
        <p>Lorem ipsum...</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_recipe') }}" role="button">Go to recipes</a>
    </div>
{% endblock %}
